<%- include ("partials/header") %>



<header class="jumbotron">
    <div class="container">
        <h1 class="display-6">Welcome to Yelp Camp!</h1>
        <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
        <hr class="my-4">
        <p>View our Handpicked Camp Grounds From All Over the World</p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/campgrounds/new" role="button">Add a New Campground</a>
        </p>
    </div>
</header>



<%- include ("partials/footer") %>